@import 'mixins';

/** TOPBAR START HERE **/
.topbar {
    background: $background-color;

    .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .topbar-menu {
            list-style: none;
            display: flex;
            .topbar-list {
                margin-right: .75rem;
                .topbar-link {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $primary-color;
                    transition: all .5s ease-in-out;
                    span {
                        font-size: 16px;
                        margin-right: .25rem;
                        color: $primary-color;
                    }

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    
        p {
            font-size: 14px;
            color: $primary-color;
            .discount {
                color: $offer;
                font-weight: 500;
            }

            .shop-now {
                font-weight: 500;
                transition: all .5s ease-in-out;
                color: #333;
                &:hover {
                    color: $primary;
                }
            }
        }
    
        .nice-select {
            border: 0;
            background: transparent;
            font-size: 12px;
            color: $primary-color;
            font-weight: normal;

            .list {
                margin-top: 0;
            }

            .option.selected {
                font-weight: normal;
            }

            &::after {
                margin-top: -5px;
                right: 20px;
            }
        }
    }
} // TOPBAR END HERE


/** HEADER START HERE **/
.header {
    width: 100%;
    background: $white;
    box-shadow: $box-shadow;

    /*** MAIN-MENU START HERE ***/
    .main-menu-list {
        .main-nav {
            position: relative;

            li {
                margin-right: .75rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 14px;
                    position: relative;
                    transition: all .5s ease-in-out;

                    .new-item {
                        @include newItem($primary);
                        right: -12px;
                    }

                    .sale-item {
                        @include newItem($secondary);
                        right: -12px;
                    }

                    &:hover {
                        .mega-menu {
                            display: block;
                        }
                    }
                }
            }

            .mega-area {
                position: static;

                &:hover {
                    .mega-menu {
                        display: block;
                    }
                }

                /*** MEGA-MENU START HERE ***/
                .mega-menu {
                    display: none;
                    width: 1100px;
                    position: absolute;
                    left: -200px;
                    top: 45px;
                    padding: 1.5rem 2.5rem;
                    transform: translateY(15px) translateZ(0);
                    transition: opacity .2s, visibility .2s, transform .2s;
                    z-index: 7895;
                    background: $white;
                    box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0,0,0,.15);

                    .dropdown-lists {
                        h6 {
                            color: $black;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 13px 0;
                            border-bottom: 1px solid $gray;

                            &::selection {
                                color: $primary;
                            }
                        }

                        .dropdown-list {
                            padding: 13px 0;

                            .dropdown-link {
                                font-size: 13px;
                                color: $primary-color;
                                font-weight: 400;
                                margin-bottom: 1rem;
                                display: block;
                                position: relative;
                                transition: color .5s ease-in-out;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:hover {
                                    color: $black;
                                }
                            }

                            .hot-item {
                                display: block;
                                .hot {
                                    @include newItem($secondary);
                                }
                            }

                            .new-item {
                                display: block;
                                .new {
                                    @include newItem($primary);
                                }
                            }
                        }
                    }

                    .women-link {
                        display: block;
                        overflow: hidden;
                        height: 360px;
                        transform: scale(1);

                        img {
                            height: 100%;
                            transition: all 1s ease;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        span {
                            position: absolute;
                            bottom: 10%;
                            left: 30%;
                            background: $white;
                            color: $black;
                            font-weight: 500;
                            cursor: pointer;
                            text-align: center;
                            padding: .75rem 3rem;
                        }
                    }

                    .sale-menu {
                        list-style: none;

                        .sale-item {
                            border-bottom: solid 1.5px $gray;
                            padding: .5rem 0;

                            &:last-child {
                                border-bottom: none;
                            }

                            .sale-link {
                                text-transform: uppercase;
                                font-size: 12px;
                                color: $black;
                                transition: color .5s ease-in-out;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                }

                .mega-sale {
                    width: 1170px;
                    left: -200px;
                    right: 0;
                    position: absolute;

                    .main-carousel {
                        height: 350px;

                        .carousel-cell {
                            width: 25%;
                            margin-right: 10px;
                            background: #8C8;
                            border-radius: 5px;

                            img {
                                display: block;
                            }
                        }
                        
                        /* cell number */
                        .carousel-cell:before {
                            display: block;
                        }
                    }

                    .flickity-enabled {
                        position: static;
                    }


                    .flickity-page-dots {
                        display: none;
                    }
                }
            }
        }
    }
} // HEADER END HERE


// padding: 5px 0 5px 20px;
// border-bottom: 1px solid rgba(129,129,129,.2);