@import 'mixins';

/** TOPBAR START HERE **/
.topbar {
    background: $background-color;

    .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .topbar-menu {
            list-style: none;
            display: flex;
            .topbar-list {
                margin-right: .75rem;
                .topbar-link {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: $primary-color;
                    transition: all .5s ease-in-out;
                    span {
                        font-size: 16px;
                        margin-right: .25rem;
                        color: $primary-color;
                    }

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    
        p {
            font-size: 14px;
            color: $primary-color;
            .discount {
                color: $offer;
                font-weight: 500;
            }

            .shop-now {
                font-weight: 500;
                transition: all .5s ease-in-out;
                color: #333;
                &:hover {
                    color: $primary;
                }
            }
        }
    
        .nice-select {
            border: 0;
            background: transparent;
            font-size: 12px;
            color: $primary-color;
            font-weight: normal;

            .list {
                margin-top: 0;
            }

            .option.selected {
                font-weight: normal;
            }

            &::after {
                margin-top: -5px;
                right: 20px;
            }
        }
    }
} // TOPBAR END HERE


/** HEADER START HERE **/
.header {
    width: 100%;
    background: $white;
    box-shadow: $box-shadow;

    /*** MAIN-MENU START HERE ***/
    .main-menu-list {
        .main-nav {
            position: relative;

            li {
                margin-right: .75rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 14px;
                    position: relative;
                    transition: all .5s ease-in-out;

                    .new-item {
                        @include newItem($primary);
                        right: -12px;
                    }

                    .sale-item {
                        @include newItem($secondary);
                        right: -12px;
                    }

                    &:hover {
                        .mega-menu {
                            display: block;
                        }
                    }
                }
            }

            .mega-area {
                position: static;

                &:hover {
                    .mega-menu {
                        display: block;
                    }
                }
                
                /*** MEGA-MENU START HERE ***/
                .mega-menu {
                    display: none;
                    width: 1100px;
                    position: absolute;
                    left: -200px;
                    top: 45px;
                    padding: 1.5rem 2.5rem;
                    transform: translateY(15px) translateZ(0);
                    transition: opacity .2s, visibility .2s, transform .2s;
                    z-index: 7895;
                    background: $white;
                    box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0,0,0,.15);

                    .dropdown-lists {
                        h6 {
                            color: $black;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 13px 0;
                            border-bottom: 1px solid $gray;

                            &::selection {
                                color: $primary;
                            }
                        }

                        .dropdown-list {
                            padding: 13px 0;

                            .dropdown-link {
                                font-size: 13px;
                                color: $primary-color;
                                font-weight: 400;
                                margin-bottom: 1rem;
                                display: block;
                                position: relative;
                                transition: color .5s ease-in-out;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:hover {
                                    color: $black;
                                }
                            }

                            .hot-item {
                                display: block;
                                .hot {
                                    @include newItem($secondary);
                                }
                            }

                            .new-item {
                                display: block;
                                .new {
                                    @include newItem($primary);
                                }
                            }
                        }
                    }

                    .women-link {
                        display: block;
                        overflow: hidden;
                        height: 360px;
                        transform: scale(1);

                        img {
                            height: 100%;
                            transition: transform 1s ease;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        span {
                            position: absolute;
                            bottom: 10%;
                            left: 30%;
                            background: $white;
                            color: $black;
                            font-weight: 500;
                            cursor: pointer;
                            text-align: center;
                            padding: .75rem 3rem;
                        }
                    }

                    .sale-menu {
                        list-style: none;

                        .sale-item {
                            border-bottom: solid 1.5px $gray;
                            padding: .5rem 0;

                            &:last-child {
                                border-bottom: none;
                            }

                            .sale-link {
                                text-transform: uppercase;
                                font-size: 12px;
                                color: $black;
                                transition: color .5s ease-in-out;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                }

                .mega-sale {
                    width: 1170px;
                    left: -200px;
                    right: 0;
                    position: absolute;

                    .owl-carousel {
                        position: relative;
                        display: flex;
                        align-items: center;

                        .item {
                            position: relative;

                            .card {
                                .card-body {
                                    .card-img {
                                        transition: transform .5s ease;
                                        
                                        img {
                                            margin-bottom: 1rem;
                                            transition: transform .75s ease;
                                        }

                                        .img-hover {
                                            display: none;
                                        }
                                    }

                                    .wishlist {
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        color: $black;
                                        transition: color .5s ease-in-out;
                                        font-size: 18px;
                                        z-index: 1235;
                                        cursor: pointer;
                                        font-weight: bold;
        
                                        &:hover {
                                            color: $primary;
                                        }
                                    }
                                    
                                    .new-item {
                                        @include offer(green);
                                    }
                                    
                                    .discount {
                                        @include offer($secondary);
                                    }

                                    %view {
                                        background: $white;
                                        color: $black;
                                        padding: .35rem 0;
                                        border-radius: 25px;
                                        margin-bottom: .75rem;
                                        transition: background-color .5s ease-in-out;
                                        text-align: center;
                                        font-size: 13px;
                                        width: 110px;

                                        .icons {
                                            display: none;
                                            font-size: 20px;
                                        }

                                        &:hover {
                                            background-color: $black;
                                            color: $white;

                                            .view-text {
                                                display: none;
                                            }

                                            .icons {
                                                display: block;
                                            }
                                        }
                                    }

                                    .quick-view {
                                        @extend %view;
                                        position: absolute;
                                        top: 110px;
                                        left: 50px;
                                    }

                                    .quick-shop {
                                        @extend %view;
                                        position: absolute;
                                        top: 155px;
                                        left: 50px;
                                    }

                                    .sizes {
                                        position: absolute;
                                        top: 250px;
                                        left: 0;
                                        right: 0;
                                        text-align: center;
                                        color: $black;
                                    }

                                    .quick-view, .quick-shop, .sizes {
                                        display: none;
                                    }
                                }

                                .card-footer {
                                    .title {
                                        color: $black;
                                        transition: color .5s ease-in-out;

                                        &:hover {
                                            color: $primary;
                                        }
                                    }
                                }

                                &:hover {
                                    .card-img {
                                        .img-card {
                                            display: none;
                                        }

                                        .img-hover {
                                            display: block;
                                        }
                                    }

                                    .quick-view, .quick-shop, .sizes {
                                        display: block;
                                    }
                                }
                            }
                        }

                        .owl-nav {
                            position: absolute;
                            top: 130px;
                            left: 0;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            z-index: 1234;

                            button {
                                display: none;
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                border: solid 2px $black;
                                color: $black;
                                line-height: 0;
                                transition: background-color .4s ease-in-out;

                                &:focus {
                                    outline: none;
                                }

                                &:hover {
                                    background-color: $primary;
                                    color: $white;
                                    border: none;
                                }

                                span {
                                    font-size: 40px;
                                }
                            }
                        }

                        .owl-dot {
                            display: none;
                        }

                        // SHOW ARROW BUTTONS
                        &:hover {
                            .owl-nav {
                                button {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .dropdown-area {
                position: static;

                .dropdown-menu-list {
                    background: $white;
                    width: 250px;
                    position: absolute;
                    top: 45px;
                    transform: translateY(15px) translateZ(0);
                    transition: opacity .2s, visibility .2s, transform .2s;
                    z-index: 7895;
                    box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0,0,0,.15);
                    padding: 1rem;
                    display: none;

                    .dropdown-list {
                        display: block;
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &:hover {
                    .dropdown-menu-list {
                        display: block;
                    }
                }
            }
        }
    }
} // HEADER END HERE


// padding: 5px 0 5px 20px;
// border-bottom: 1px solid rgba(129,129,129,.2);