@media (max-width: 768px) {
    .topbar {
        font-size: 12px;
        height: 100%;
        .container-fluid {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .topbar-menu {
                .topbar-list {
                    .topbar-link {
                        font-size: 12px;
                        span {
                            font-size: 14px;
                            margin-right: .25rem;
                        }
                    }
                }
            }

            p {
                font-size: 12px;
            }
        
            .nice-select {
                font-size: 12px;
            }
        }
    }
    
    .header {
        .main-menu {
            display: none;
        }
    }
}