$background-color: #F6F6F8;
$white: #ffffff;
$primary-color: #878787;
$heading: #222222;
$primary: #00badb;
$black: #212529;
$secondary: #E54600;
$hover: rgba(0, 0, 0, 0.1);
$offer: #ec0101;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Nunito', sans-serif;
$ternary-font: 'Raleway', sans-serif;
$new: #01bad4;
$sale: #ff3e11;
$box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
$grey: rgba(34,34,34,0.45);
$gray: #eee;
$thumb-color: #A8A8A8;