@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Raleway&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?qdfcg9");
  src: url("../fonts/icomoon.eot?qdfcg9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qdfcg9") format("truetype"), url("../fonts/icomoon.woff?qdfcg9") format("woff"), url("../fonts/icomoon.svg?qdfcg9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e900";
}

.icon-envelope:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-heart:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-lock:before {
  content: "\e906";
}

.icon-phone:before {
  content: "\e907";
}

.icon-pinterest:before {
  content: "\e908";
}

.icon-reload:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e90a";
}

.icon-shopping-cart:before {
  content: "\e90b";
}

.icon-tube:before {
  content: "\e90c";
}

.icon-twitter:before {
  content: "\e90d";
}

.icon-user:before {
  content: "\e90e";
}

.icon-user-flat:before {
  content: "\e90f";
}

.icon-visibility:before {
  content: "\e910";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f8f2f2;
  font-size: 14px;
  line-height: 1.75;
  color: #878787;
  margin: 0;
  font-weight: 400;
  overflow-y: scroll;
}

body ::-webkit-scrollbar-thumb {
  background: #f63809;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #222;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/** TOPBAR START HERE **/
.topbar {
  background: #F6F6F8;
}

.topbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar .container-fluid .topbar-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .container-fluid .topbar-menu .topbar-list {
  margin-right: .75rem;
}

.topbar .container-fluid .topbar-menu .topbar-list .topbar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #878787;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.topbar .container-fluid .topbar-menu .topbar-list .topbar-link span {
  font-size: 16px;
  margin-right: .25rem;
  color: #878787;
}

.topbar .container-fluid .topbar-menu .topbar-list .topbar-link:hover {
  color: #00badb;
}

.topbar .container-fluid p {
  font-size: 14px;
  color: #878787;
}

.topbar .container-fluid p .discount {
  color: #ec0101;
  font-weight: 500;
}

.topbar .container-fluid p .shop-now {
  font-weight: 500;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #333;
}

.topbar .container-fluid p .shop-now:hover {
  color: #00badb;
}

.topbar .container-fluid .nice-select {
  border: 0;
  background: transparent;
  font-size: 12px;
  color: #878787;
  font-weight: normal;
}

.topbar .container-fluid .nice-select .list {
  margin-top: 0;
}

.topbar .container-fluid .nice-select .option.selected {
  font-weight: normal;
}

.topbar .container-fluid .nice-select::after {
  margin-top: -5px;
  right: 20px;
}

/** HEADER START HERE **/
.header {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
          box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  /*** MAIN-MENU START HERE ***/
}

.header .main-menu-list .main-nav {
  position: relative;
}

.header .main-menu-list .main-nav li {
  margin-right: .75rem;
}

.header .main-menu-list .main-nav li:last-child {
  margin-right: 0;
}

.header .main-menu-list .main-nav li a {
  font-size: 14px;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header .main-menu-list .main-nav li a .new-item {
  position: absolute;
  color: #fbfbfa;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 9px;
  padding: 1px 7px;
  border-radius: 50px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  background: #00badb;
  right: -12px;
}

.header .main-menu-list .main-nav li a .sale-item {
  position: absolute;
  color: #fbfbfa;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 9px;
  padding: 1px 7px;
  border-radius: 50px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  background: #E54600;
  right: -12px;
}

.header .main-menu-list .main-nav li a:hover .mega-menu {
  display: block;
}

.header .main-menu-list .main-nav .mega-area {
  position: static;
  /*** MEGA-MENU START HERE ***/
}

.header .main-menu-list .main-nav .mega-area:hover .mega-menu {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-menu {
  display: none;
  width: 1100px;
  position: absolute;
  left: -100px;
  top: 45px;
  padding: 1.5rem 2.5rem;
  -webkit-transform: translateY(15px) translateZ(0);
          transform: translateY(15px) translateZ(0);
  -webkit-transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s, -webkit-transform .2s;
  z-index: 7895;
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists h6 {
  color: #212529;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 13px 0;
  border-bottom: 1px solid #eee;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists h6::-moz-selection {
  color: #00badb;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists h6::selection {
  color: #00badb;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list {
  padding: 13px 0;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .dropdown-link {
  font-size: 13px;
  color: #878787;
  font-weight: 400;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .dropdown-link:last-child {
  margin-bottom: 0;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .dropdown-link:hover {
  color: #212529;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .hot-item {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .hot-item .hot {
  position: absolute;
  color: #fbfbfa;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 9px;
  padding: 1px 7px;
  border-radius: 50px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  background: #E54600;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .new-item {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .dropdown-lists .dropdown-list .new-item .new {
  position: absolute;
  color: #fbfbfa;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 9px;
  padding: 1px 7px;
  border-radius: 50px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 1;
  background: #00badb;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .women-link {
  display: block;
  overflow: hidden;
  height: 360px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .main-menu-list .main-nav .mega-area .mega-menu .women-link img {
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .women-link img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .main-menu-list .main-nav .mega-area .mega-menu .women-link span {
  position: absolute;
  bottom: 10%;
  left: 30%;
  background: #ffffff;
  color: #212529;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: .75rem 3rem;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .sale-menu {
  list-style: none;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .sale-menu .sale-item {
  border-bottom: solid 1.5px #eee;
  padding: .5rem 0;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .sale-menu .sale-item:last-child {
  border-bottom: none;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .sale-menu .sale-item .sale-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #212529;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.header .main-menu-list .main-nav .mega-area .mega-menu .sale-menu .sale-item .sale-link:hover {
  color: #878787;
}

.header .main-menu-list .main-nav .mega-area .mega-sale {
  width: 1100px;
  left: -100px;
  right: 0;
  position: absolute;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item {
  position: relative;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .card-img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .card-img img {
  margin-bottom: 1rem;
  -webkit-transition: -webkit-transform .75s ease;
  transition: -webkit-transform .75s ease;
  transition: transform .75s ease;
  transition: transform .75s ease, -webkit-transform .75s ease;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .card-img .img-hover {
  display: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .wishlist {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #212529;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  font-size: 18px;
  z-index: 1235;
  cursor: pointer;
  font-weight: bold;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .wishlist:hover {
  color: #00badb;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .new-item {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  background: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .discount {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  background: #E54600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop {
  background: #ffffff;
  color: #212529;
  padding: .35rem 0;
  border-radius: 25px;
  margin-bottom: .75rem;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  text-align: center;
  font-size: 13px;
  width: 110px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view .icons, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop .icons {
  display: none;
  font-size: 20px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view:hover, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop:hover {
  background-color: #212529;
  color: #ffffff;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view:hover .view-text, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop:hover .view-text {
  display: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view:hover .icons, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop:hover .icons {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view {
  position: absolute;
  top: 110px;
  left: 50px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop {
  position: absolute;
  top: 155px;
  left: 50px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .sizes {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  text-align: center;
  color: #212529;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-view, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .quick-shop, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-body .sizes {
  display: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-footer .title {
  color: #212529;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card .card-footer .title:hover {
  color: #00badb;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card:hover .card-img .img-card {
  display: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card:hover .card-img .img-hover {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card:hover .quick-view, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card:hover .quick-shop, .header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .item .card:hover .sizes {
  display: block;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-nav {
  position: absolute;
  top: 130px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 1234;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-nav button {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #212529;
  color: #212529;
  line-height: 0;
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-nav button:focus {
  outline: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-nav button:hover {
  background-color: #00badb;
  color: #ffffff;
  border: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-nav button span {
  font-size: 40px;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel .owl-dot {
  display: none;
}

.header .main-menu-list .main-nav .mega-area .mega-sale .owl-carousel:hover .owl-nav button {
  display: block;
}

.header .main-menu-list .main-nav .dropdown-area {
  position: static;
}

.header .main-menu-list .main-nav .dropdown-area .dropdown-menu-list {
  background: #ffffff;
  width: 250px;
  position: absolute;
  top: 45px;
  -webkit-transform: translateY(15px) translateZ(0);
          transform: translateY(15px) translateZ(0);
  -webkit-transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, -webkit-transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s;
  transition: opacity .2s, visibility .2s, transform .2s, -webkit-transform .2s;
  z-index: 7895;
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  display: none;
}

.header .main-menu-list .main-nav .dropdown-area .dropdown-menu-list .dropdown-list {
  display: block;
  margin-bottom: 1rem;
}

.header .main-menu-list .main-nav .dropdown-area .dropdown-menu-list .dropdown-list:last-child {
  margin-bottom: 0;
}

.header .main-menu-list .main-nav .dropdown-area:hover .dropdown-menu-list {
  display: block;
}

.header .main-menu-list .menu-icons .nav-item .nav-link {
  padding: 0;
  font-size: 22px;
  margin-right: 1rem;
  color: #212529;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
  font-weight: 500;
}

.header .main-menu-list .menu-icons .nav-item .nav-link:hover {
  color: #00badb;
}

.header .main-menu-list .menu-icons .nav-item .counter {
  position: relative;
}

.header .main-menu-list .menu-icons .nav-item .counter .count {
  position: absolute;
  top: 0;
  right: -10px;
  background: #212529;
  color: #ffffff;
  font-size: 9px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

/** BANNER START HERE */
@media (max-width: 768px) {
  .topbar {
    font-size: 12px;
    height: 100%;
  }
  .topbar .container-fluid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .topbar .container-fluid .topbar-menu .topbar-list .topbar-link {
    font-size: 12px;
  }
  .topbar .container-fluid .topbar-menu .topbar-list .topbar-link span {
    font-size: 14px;
    margin-right: .25rem;
  }
  .topbar .container-fluid p {
    font-size: 12px;
  }
  .topbar .container-fluid .nice-select {
    font-size: 12px;
  }
  .header .main-menu {
    display: none;
  }
}
